ion-card-title {
    text-align:center;
  }
  ion-content {
    --background: #654ea3;  
    --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
    --background: linear-gradient(to right, #eaafc8, #654ea3); 

  }
  ion-toolbar {
    --background: #654ea3;  
    --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
    --background: linear-gradient(to right, #eaafc8, #654ea3); 
  
  }
  ion-label > p {
    color: #fff;
  }
  ion-button {
    margin-bottom: 1em;
  }
  ion-item-divider {
    margin-top: 0px;
    min-height: 1px !important;
  }
  ion-avatar {
    border-radius: 10px;
    background-color:transparent !important;
    height:10em;
    width:10em;
  }
  
  