  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title> 
      <ion-buttons slot="primary">
        <ion-button color="warning" fill="outline">
          Settings
          <ion-icon slot="end" name="settings"  (click)="go()" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

<ion-content padding>
    <ion-row>
    <ion-col size="4">
      
    </ion-col>
    <ion-col>
        <ion-avatar >
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
            </ion-col>
    <ion-col>
     
    </ion-col>
  </ion-row>
       
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profil</ion-card-title>
    </ion-card-header>

    <ion-card-content padding>
      <ion-label><ion-icon name="water" slot="start"></ion-icon>Kullanıcı Adı:  </ion-label> <br>
      <ion-label><ion-icon name="walk" slot="start"></ion-icon>Telefon:  </ion-label><br>
      <ion-label><ion-icon name="water" slot="start"></ion-icon>Mail:  </ion-label>  
  </ion-card-content>
  </ion-card>

  <ion-card style="margin-top:2em;">
    <ion-card-header>
      <ion-card-title>Takip Ettiklen Adresler</ion-card-title>
    </ion-card-header>
  
    <ion-card-content padding>
      <ion-label><ion-icon name="water" slot="start"></ion-icon>Kullanıcı Adı:  </ion-label> <br>
      <ion-label><ion-icon name="walk" slot="start"></ion-icon>Telefon:  </ion-label><br>
      <ion-label><ion-icon name="water" slot="start"></ion-icon>Mail:  </ion-label>  
  </ion-card-content>
  </ion-card>
  
  
 
    
</ion-content>
