ion-label {
    color: #fff !important;
}
  ion-list-header {
    background-color:  transparent !important;
}
ion-content {
  --background: #654ea3;  
  --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  --background: linear-gradient(to right, #eaafc8, #654ea3); 

}
ion-toolbar {
  --background: #654ea3;  
  --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
  --background: linear-gradient(to right, #eaafc8, #654ea3); 

}
