ion-content {
  background-color: transparent !important;
}
ion-list {
  background-color: transparent !important;
}

ion-label {
  background-color: transparent !important;
}
ion-list-header {
  text-align: center !important;
}

ion-input {
  background-color: transparent !important;
  margin-bottom: 1em;
}
ion-item-divider {
  margin-top: 0px;
  min-height: 1px !important;
}

ion-content {
  --background: #654ea3;
  --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  --background: linear-gradient(to right, #eaafc8, #654ea3);
}
ion-toolbar {
  --background: #654ea3;
  --background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  --background: linear-gradient(to right, #eaafc8, #654ea3);
}

#memberDiv {
    flex-direction: column;
    display: flex
}
ion-img {
    height:60px;
    width:65px;
    border-radius: 40px;
}

#map{
  border-radius: 15px 15px 0px 0px;
    height: 100% !important;
    z-index: 1;
}
ion-fab-button {
    z-index: 2;
}

