<ion-header>
  <ion-toolbar>

    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list style="padding:1em">

    <!--  <ion-input [(ngModel)]="userName" placeholder="Kullanıcı Adı"></ion-input> -->

    <ion-input [(ngModel)]="mail" placeholder="Mail Adresi"></ion-input>
<ion-grid text-center>
  <ion-row>
    <ion-col size ="10"><ion-button color="light" expand="block" (click)="memberAdd()">Kullanıcı Ekle</ion-button></ion-col>
    <ion-col size ="2"><ion-toggle [(ngModel)]="members" color="dark"></ion-toggle></ion-col>
  </ion-row>
</ion-grid>
    
  </ion-list>
  <ion-list style="padding:1em" *ngIf="members">
    <ion-list-header>Takip Edilen Kullanıcılar</ion-list-header>
    <ion-item-divider color="medium"></ion-item-divider>
    <ion-card *ngFor="let member of membersData">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-thumbnail>
                <ion-img [src]="member.photo"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <div id="memberDiv">
              <ion-label color="light">{{member.username}}</ion-label>
              <ion-label style="padding-top:5px" color="light">{{member.email}}</ion-label>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
<br><br>
<div #map id="map">
    
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="scrollToTop()"> 
        <ion-icon name="arrow-dropup"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>