<ion-header>
  <ion-toolbar>

    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-input [(ngModel)]="userName" placeholder="Kullanıcı Adı"></ion-input>

    <ion-input [(ngModel)]="mail" placeholder="Mail Adresi"></ion-input>

    <ion-button color="light" expand="block" (click)="memberAdd()">Kullanıcı Ekle</ion-button>
  </ion-list>
  <ion-list>
    <ion-list-header>Takip Edilen Kullanıcılar</ion-list-header>
    <ion-item-divider color="medium"></ion-item-divider>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-label color="light" style="margin-right:2em;">Arda İpek</ion-label>
            <ion-label color="light">test@test.com</ion-label>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-label color="light" style="margin-right:2em;">İsmail Abi</ion-label>
            <ion-label color="light">ismail@test.com</ion-label>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-label color="light" style="margin-right:2em;">Mecnun</ion-label>
            <ion-label color="light">mecnun@test.com</ion-label>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="block" color="tertiary" (click)="goToMap()" routerDirection="root"> Map</ion-button>

  <ion-button expand="block" color="light" (click)="goToDashboard()" routerDirection="root"> Subscription</ion-button>
</ion-content>