<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating" >Kullanıcı Adı</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mail Adresi</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="block">Block Button</ion-button> 
</ion-list>
<ion-list>
    <ion-list-header>Takip Edilen Kullanıcılar</ion-list-header>
  <ion-item >
    <ion-label ></ion-label>
    <ion-label ></ion-label>
  </ion-item>
</ion-list>
   
    <ion-button expand="block" routerLink="/login" routerDirection="root"> Login</ion-button>
  </ion-content>
