<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content >
    
  <ion-list *ngIf= "monthlySub">
      <ion-card >
          <ion-card-header>
              <ion-card-title >Abonelik Bilgilerin</ion-card-title>
          </ion-card-header>
          <ion-item-divider color= "medium"></ion-item-divider>
          <ion-card-content>
              <ion-grid>
                <ion-row> 
              <ion-label>Yenileme Tarihi:  22.05.2019 </ion-label>
            </ion-row>
            <ion-row> 
              <ion-label>Mail : arda@arda.com </ion-label>
            </ion-row>
            <ion-row> 
            <ion-label>Plan Ayrıntıları : {{monthlySub}} </ion-label>
            <ion-button  color="tertiary"  fill="outline" size="small" >Kullanıcı Arttır</ion-button> 
            </ion-row>
          </ion-grid>
          </ion-card-content>
        </ion-card>      
  </ion-list>
  <ion-list *ngIf= "!monthlySub">
    <ion-card>
        <ion-card-header>
          <ion-card-title >Aboneliği Başlat</ion-card-title>
      </ion-card-header>
      <ion-item-divider color= "medium"></ion-item-divider>
      <ion-card-content>
          <ion-grid>
              <ion-row> 
                <ion-button  color="tertiary"  fill="outline" size="large" (click) ="buy(product.productId)" >Aylık Aboneliği Başlat {{product.price}}</ion-button> 
          </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card *ngFor="let product of products">
      <ion-card-header>{{product.title}}</ion-card-header>
      <ion-card-content>{{product.description}}</ion-card-content>

    </ion-card>
  </ion-list>

  <ion-list *ngIf="monthlySub">
  <ion-item-divider color="medium"></ion-item-divider>
        <ion-button padding  color="primary" fill="outline" expand="block" >Fatura Ayrıntıları</ion-button> 
      <ion-button padding  color="danger" fill="outline" expand="block" >Aboneliği Sonlandır </ion-button> 
<ion-item-divider style="margin-top:1.6em" color="medium"></ion-item-divider>
<br><br><br>
</ion-list>
<ion-card *ngFor="let member of membersData">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-thumbnail>
            <ion-img [src]="member.photo"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <div id="memberDiv">
          <ion-label color="light">{{member.username}}</ion-label>
          <ion-label style="padding-top:5px" color="light">{{member.email}}</ion-label>
        </div>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>