<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button defaultHref="/tabs/tab5"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-list>
      <ion-card >
          <ion-card-header>
              <ion-card-title >Abonelik Bilgilerin</ion-card-title>
          </ion-card-header>
          <ion-item-divider color= "medium"></ion-item-divider>
          <ion-card-content>
              <ion-grid>
                <ion-row> 
              <ion-label>Yenileme Tarihi:  22.05.2019 </ion-label>
            </ion-row>
            <ion-row> 
              <ion-label>Mail : arda@arda.com </ion-label>
            </ion-row>
            <ion-row> 
            <ion-label>Plan Ayrıntıları : 2+ Kullanıcı </ion-label>
            <ion-button  color="tertiary"  fill="outline" size="small" >Kullanıcı Arttır</ion-button> 
            </ion-row>
          </ion-grid>
          </ion-card-content>
        </ion-card>      
  </ion-list>

  <ion-item-divider color="medium"></ion-item-divider>
        <ion-button padding  color="primary" fill="outline" expand="block" >Fatura Ayrıntıları</ion-button> 
      <ion-button padding  color="danger" fill="outline" expand="block" >Aboneliği Sonlandır </ion-button> 
<ion-item-divider style="margin-top:1.6em" color="medium"></ion-item-divider>
<br><br><br>






<ion-list>
    <ion-item-sliding >
        <ion-item href="/tabs/tab2">
          <ion-label>
            <h2>Arda Ipek</h2>
          </ion-label>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding >
        <ion-item href="/tabs/tab2">
          <ion-label>
            <h2>İsmail Abi</h2>
          </ion-label>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding >
        <ion-item href="/tabs/tab2">
          <ion-label>
            <h2>Erdal Bakkal</h2>
          </ion-label>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
</ion-list>










</ion-content>