<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Kayıt Ol</h4>
        </div>
        <div padding>

          <ion-item>
            <ion-label position="floating" >Mail </ion-label>
            <ion-input formControlName="email"  type="text"></ion-input>
          </ion-item>
         <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) ">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 

          <ion-item>
            <ion-label position="floating">Parola</ion-label>
            <ion-input  formControlName="password" class="form-controll" required  type="password"></ion-input>
          </ion-item>
           <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div> 
        </div>

        <div padding>
         <ion-button color="tertiary" size="medium" class="submit-btn" type="submit"  [disabled]="!validations_form.valid" expand="block">Tamamla</ion-button>
         <label class="error-message">{{errorMessage}}</label>
         <label class="success-message">{{successMessage}}</label>
        </div>
        <!-- <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p> -->
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>